env: "development"
port: "9101"
http_port: "9101"
cockroach:
    host: "localhost:26257"
    database: "hello"
    username: "kumparan"
    password: ""
sentry_dsn: "$sentry_dsn"
log_level: "debug"
disable_caching: false
cache_ttl: 900000
redis:
    cache_host: "redis://localhost:6379/0"
    lock_host: "redis://localhost:6379/1"
    nats_host: "redis://localhost:6379/26"
    worker_broker_host: "redis://localhost:6379/0"
    worker_backend_host: "redis://localhost:6379/0"
nats_url: "nats://svc-logs:4222"
nats_cluster_id: "test-cluster"
services:
    media_target: "localhost:9103"
    idle_conn_pool: "100"
    max_conn_pool: "200"
rpc_server_timeout: 1000
rpc_client_timeout: 1100